body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1317px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u815 {
  position:absolute;
  left:116px;
  top:0px;
  width:153px;
  height:562px;
  color:#CCCCCC;
}
#u816 {
  position:absolute;
  left:2px;
  top:273px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:1199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u817 {
  position:absolute;
  left:268px;
  top:0px;
  width:1049px;
  height:1199px;
  color:#CCCCCC;
}
#u818 {
  position:absolute;
  left:2px;
  top:592px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u819 {
  position:absolute;
  left:268px;
  top:1px;
  width:1049px;
  height:67px;
  color:#CCCCCC;
}
#u820 {
  position:absolute;
  left:2px;
  top:26px;
  width:1045px;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u821 {
  position:absolute;
  left:116px;
  top:67px;
  width:153px;
  height:58px;
  color:#CCCCCC;
}
#u822 {
  position:absolute;
  left:2px;
  top:21px;
  width:149px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u823 {
  position:absolute;
  left:116px;
  top:124px;
  width:153px;
  height:58px;
  color:#CCCCCC;
}
#u824 {
  position:absolute;
  left:2px;
  top:21px;
  width:149px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:280px;
  top:79px;
  width:1026px;
  height:32px;
}
#u826 {
  position:absolute;
  left:2px;
  top:8px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:280px;
  top:127px;
  width:1026px;
  height:184px;
}
#u828 {
  position:absolute;
  left:2px;
  top:84px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:578px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:280px;
  top:321px;
  width:1026px;
  height:578px;
}
#u830 {
  position:absolute;
  left:2px;
  top:281px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:294px;
  top:87px;
  width:177px;
  height:16px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#157EDF;
}
#u833 {
  position:absolute;
  left:332px;
  top:380px;
  width:142px;
  height:41px;
  color:#157EDF;
}
#u834 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:332px;
  top:342px;
  width:142px;
  height:46px;
}
#u836 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:407px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u837 {
  position:absolute;
  left:492px;
  top:342px;
  width:714px;
  height:407px;
  color:#CCCCCC;
}
#u838 {
  position:absolute;
  left:2px;
  top:196px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:512px;
  top:461px;
  width:658px;
  height:229px;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
  color:#CCCCCC;
}
#u841 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u842 {
  position:absolute;
  left:32px;
  top:0px;
  width:74px;
  height:36px;
  color:#CCCCCC;
}
#u843 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u844 {
  position:absolute;
  left:106px;
  top:0px;
  width:70px;
  height:36px;
  color:#CCCCCC;
}
#u845 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u846 {
  position:absolute;
  left:176px;
  top:0px;
  width:62px;
  height:36px;
  color:#CCCCCC;
}
#u847 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u848 {
  position:absolute;
  left:238px;
  top:0px;
  width:112px;
  height:36px;
  color:#CCCCCC;
}
#u849 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u850 {
  position:absolute;
  left:350px;
  top:0px;
  width:85px;
  height:36px;
  color:#CCCCCC;
}
#u851 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u852 {
  position:absolute;
  left:435px;
  top:0px;
  width:102px;
  height:36px;
  color:#CCCCCC;
}
#u853 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u854 {
  position:absolute;
  left:537px;
  top:0px;
  width:116px;
  height:36px;
  color:#CCCCCC;
}
#u855 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u856 {
  position:absolute;
  left:0px;
  top:36px;
  width:32px;
  height:36px;
}
#u857 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u858 {
  position:absolute;
  left:32px;
  top:36px;
  width:74px;
  height:36px;
}
#u859 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u860 {
  position:absolute;
  left:106px;
  top:36px;
  width:70px;
  height:36px;
}
#u861 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u862 {
  position:absolute;
  left:176px;
  top:36px;
  width:62px;
  height:36px;
}
#u863 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u864 {
  position:absolute;
  left:238px;
  top:36px;
  width:112px;
  height:36px;
}
#u865 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u866 {
  position:absolute;
  left:350px;
  top:36px;
  width:85px;
  height:36px;
}
#u867 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u868 {
  position:absolute;
  left:435px;
  top:36px;
  width:102px;
  height:36px;
}
#u869 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u870 {
  position:absolute;
  left:537px;
  top:36px;
  width:116px;
  height:36px;
}
#u871 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u872 {
  position:absolute;
  left:0px;
  top:72px;
  width:32px;
  height:38px;
}
#u873 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u874 {
  position:absolute;
  left:32px;
  top:72px;
  width:74px;
  height:38px;
}
#u875 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u876 {
  position:absolute;
  left:106px;
  top:72px;
  width:70px;
  height:38px;
}
#u877 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:38px;
}
#u878 {
  position:absolute;
  left:176px;
  top:72px;
  width:62px;
  height:38px;
}
#u879 {
  position:absolute;
  left:2px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u880 {
  position:absolute;
  left:238px;
  top:72px;
  width:112px;
  height:38px;
}
#u881 {
  position:absolute;
  left:2px;
  top:3px;
  width:108px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u882 {
  position:absolute;
  left:350px;
  top:72px;
  width:85px;
  height:38px;
}
#u883 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u884 {
  position:absolute;
  left:435px;
  top:72px;
  width:102px;
  height:38px;
}
#u885 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
}
#u886 {
  position:absolute;
  left:537px;
  top:72px;
  width:116px;
  height:38px;
}
#u887 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u888 {
  position:absolute;
  left:0px;
  top:110px;
  width:32px;
  height:38px;
}
#u889 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u890 {
  position:absolute;
  left:32px;
  top:110px;
  width:74px;
  height:38px;
}
#u891 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u892 {
  position:absolute;
  left:106px;
  top:110px;
  width:70px;
  height:38px;
}
#u893 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:38px;
}
#u894 {
  position:absolute;
  left:176px;
  top:110px;
  width:62px;
  height:38px;
}
#u895 {
  position:absolute;
  left:2px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u896 {
  position:absolute;
  left:238px;
  top:110px;
  width:112px;
  height:38px;
}
#u897 {
  position:absolute;
  left:2px;
  top:3px;
  width:108px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u898 {
  position:absolute;
  left:350px;
  top:110px;
  width:85px;
  height:38px;
}
#u899 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u900 {
  position:absolute;
  left:435px;
  top:110px;
  width:102px;
  height:38px;
}
#u901 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
}
#u902 {
  position:absolute;
  left:537px;
  top:110px;
  width:116px;
  height:38px;
}
#u903 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u904 {
  position:absolute;
  left:0px;
  top:148px;
  width:32px;
  height:38px;
}
#u905 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u906 {
  position:absolute;
  left:32px;
  top:148px;
  width:74px;
  height:38px;
}
#u907 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u908 {
  position:absolute;
  left:106px;
  top:148px;
  width:70px;
  height:38px;
}
#u909 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:38px;
}
#u910 {
  position:absolute;
  left:176px;
  top:148px;
  width:62px;
  height:38px;
}
#u911 {
  position:absolute;
  left:2px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u912 {
  position:absolute;
  left:238px;
  top:148px;
  width:112px;
  height:38px;
}
#u913 {
  position:absolute;
  left:2px;
  top:3px;
  width:108px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u914 {
  position:absolute;
  left:350px;
  top:148px;
  width:85px;
  height:38px;
}
#u915 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u916 {
  position:absolute;
  left:435px;
  top:148px;
  width:102px;
  height:38px;
}
#u917 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
}
#u918 {
  position:absolute;
  left:537px;
  top:148px;
  width:116px;
  height:38px;
}
#u919 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u920 {
  position:absolute;
  left:0px;
  top:186px;
  width:32px;
  height:38px;
}
#u921 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u922 {
  position:absolute;
  left:32px;
  top:186px;
  width:74px;
  height:38px;
}
#u923 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u924 {
  position:absolute;
  left:106px;
  top:186px;
  width:70px;
  height:38px;
}
#u925 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:38px;
}
#u926 {
  position:absolute;
  left:176px;
  top:186px;
  width:62px;
  height:38px;
}
#u927 {
  position:absolute;
  left:2px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u928 {
  position:absolute;
  left:238px;
  top:186px;
  width:112px;
  height:38px;
}
#u929 {
  position:absolute;
  left:2px;
  top:3px;
  width:108px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u930 {
  position:absolute;
  left:350px;
  top:186px;
  width:85px;
  height:38px;
}
#u931 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u932 {
  position:absolute;
  left:435px;
  top:186px;
  width:102px;
  height:38px;
}
#u933 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
}
#u934 {
  position:absolute;
  left:537px;
  top:186px;
  width:116px;
  height:38px;
}
#u935 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:717px;
  top:359px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:1023px;
  top:703px;
  width:167px;
  height:16px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#157EDF;
}
#u940 {
  position:absolute;
  left:1145px;
  top:356px;
  width:36px;
  height:16px;
  color:#157EDF;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u942 {
  position:absolute;
  left:517px;
  top:388px;
  width:77px;
  height:24px;
  color:#FFFFFF;
}
#u943 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u944 {
  position:absolute;
  left:595px;
  top:388px;
  width:53px;
  height:24px;
  color:#FFFFFF;
}
#u945 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u946 {
  position:absolute;
  left:648px;
  top:388px;
  width:28px;
  height:24px;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:541px;
  top:416px;
  width:29px;
  height:16px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:607px;
  top:416px;
  width:29px;
  height:16px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:648px;
  top:415px;
  width:29px;
  height:16px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u954 {
  position:absolute;
  left:686px;
  top:396px;
  width:205px;
  height:16px;
  color:#E4E4E4;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
